fastapi
uvicorn
SQLAlchemy
psycopg2-binary
pytest
requests
httpx
alembic
python-dotenv
trafilatura
playwright
apscheduler
BeautifulSoup4
crawl4ai
transformers
tensorflow
unstructured
tf-keras
sib-api-v3-sdk